<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>1st trimister | Nutrition Bee Course Hub</title>


<!-- Navbar -->
<div class="nava d-flex">
    <input type="checkbox" id="nava-check">
    <div class="nava-header">
        <div class="nava-title">
            <img src="/whiteLogo.png" width="100px">
        </div>
    </div>
    <div class="nava-btn">

        <button class="a btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <%= name[0].toUpperCase(); %>

        </button>
    </div>

    <div class="nava-links">
        <div class="dropdown">
            <button class="a btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <%= name[0].toUpperCase(); %>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                <li><a class="dropdown-item" href="/edit">Edit Profile</a></li>
                <li><a class="dropdown-item" href="/mycourses">My Courses</a></li>
                <li>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button class="bttn" type="submit">Log Out</button>
                    </form>
                </li>
            </ul>
        </div>

    </div>
</div>


<div class="container-fluid">

    <div class="text-center my-5">
        <h3>1st trimister</h3>
        <h5>Class - 2</h5>
    </div>


    <% if(nbee102_paymentStatus==="true" ){ %>
        <div style="padding-top:56.25%;position:relative;">
            <iframe src=<%=nbee_102_2; %>
                style="border:0;max-width:100%;position:absolute;top:0;left:0;height:100%;width:100%;"
                allowFullScreen="true" allow="encrypted-media"></iframe>
        </div>
</div>
<div class="d-flex justify-content-around my-3">
    <!-- <button class="btn btn-warning">Previous</button> -->
    <!-- <button class="btn btn-warning">Hrllo</button> -->
    <a href="./nbee101_2"><button class="btn btn-warning">Next</button></a>
</div>
<div class="c mt-2 mb-5">
    <div class="list">
        <h1 style="color:white;">Contents</h1>
        <br>
        <div class="list-item">
            <div class="rank"><span>1</span></div>
            <div class="name">
                <h4><a href="nbee102_1">প্রেগন্যান্সি বা গর্ভাবস্থা</a></h4>
            </div>
        </div>
        <div class="list-item">
            <div class="rank"><span>2</span></div>
            <div class="name">
                <h4><a href="nbee102_2"> ফার্স্ট ট্রাইমেস্টার বা ১ম ত্রৈমাসিক </a></h4>
                <!-- <p>Musician</p> -->
            </div>
        </div>
        <div class="list-item">
            <div class="rank"><span>3</span></div>
            <div class="name">
                <h4><a href="nbee102_3">সেকেন্ট ট্রাইমেস্টার বা ২য় ত্রৈমাসিক </a></h4>
                <!-- <p>Film Maker</p> -->
            </div>
        </div>
        <div class="list-item">
            <div class="rank"><span>4</span></div>
            <div class="name">
                <h4><a href="nbee102_quiz1">Quiz 1</a></h4>
                <!-- <p>UI/UX Designer</p> -->
            </div>
        </div>
        <div class="list-item">
            <div class="rank"><span>5</span></div>
            <div class="name">
                <h4><a href="nbee102_5">থার্ড ট্রাইমেস্টার বা ৩য় ত্রৈমাসিক </a></h4>
                <!-- <p>Director</p> -->
            </div>
        </div>
        <div class="list-item">
            <div class="rank"><span>6</span></div>
            <div class="name">
                <h4><a href="nbee102_6">গর্ভাবস্থায় রক্তাল্পতা বা অ্যানিমিয়া </a></h4>
                <!-- <p>Architecture</p> -->
            </div>
        </div>
        <div class="list-item">
            <div class="rank"><span>7</span></div>
            <div class="name">
                <h4><a href="nbee102_7">এক্ল্যাম্পসিয়া ইন প্রেগন্যান্সি</a></h4>
                <!-- <p>Architecture</p> -->
            </div>
        </div>
        <div class="list-item">
            <div class="rank"><span>8</span></div>
            <div class="name">
                <h4><a href="nbee102_8"> GDM ইন প্রেগন্যান্সি </a></h4>
                <!-- <p>Architecture</p> -->
            </div>
        </div>
        <div class="list-item">
            <div class="rank"><span>9</span></div>
            <div class="name">
                <h4><a href="nbee102_9">গর্ভাবস্থায় মানসিকতার পরিবর্তন </a></h4>
                <!-- <p>Architecture</p> -->
            </div>
        </div>
        <div class="list-item">
            <div class="rank"><span>10</span></div>
            <div class="name">
                <h4><a href="nbee102_quiz2">Quiz 2</a></h4>
                <!-- <p>Architecture</p> -->
            </div>
        </div>
        <% if(Nbee102_QuizMarks!=null && Nbee102_QuizMarks==="13" || Nbee102_QuizMarks==="14" || Nbee102_QuizMarks==="15" ){ %>
            <div class="list-item">
                <div class="rank"><span>11</span></div>
                <div class="name">
                    <h4><a href="/nbee102_certificate">Claim Certificate</a></h4>
                    <!-- <p>Architecture</p> -->
                </div>
            </div>
            <% } %>
    </div>
</div>



<% } %>






    </div>



    <!-- Footer  -->
    <footer id="site-footer">
        <section class="horizontal-footer-section" id="footer-top-section">
            <div id="footer-logo">
                <picture>
                    <img src="/assets/whiteLogo.png" alt="footer logo" role="presentation">
                </picture>
            </div>
            <div id="footer-top-menu-container" role="menubar">

            </div>
            <div id="footer-buttons-container">
                <a href="https://nutritionbee.net/" target="_blank" class="footer-button" role="button">View our
                    Blogs</a>
            </div>
        </section>

        <section class="horizontal-footer-section" id="footer-middle-section">
            <div id="footer-about" class="footer-columns footer-columns-large">
                <h1>Our Address</h1>
                <address>
                    <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/marker.png">Mirpur, Dhaka
                    </p>
                    <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/phone.png">01521429803</p>
                    <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/mail.png">nutritionbee00@gmail.com</p>
                    <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/clock.png">10:00 AM – 10:00 PM</p>
                </address>
            </div>
            <div class="footer-columns">
                <h1>Need Help?</h1>
                <ul class="footer-column-menu" role="menu">
                    <p>If you face any problem feel free to contact with us over phone.</p>
                    <!-- <li class="footer-column-menu-item" role="menuitem">
              <a href="#" class="footer-column-menu-item-link">Services </a>
            </li>
            <li class="footer-column-menu-item" role="menuitem">
              <a href="#" class="footer-column-menu-item-link">Pricing</a>
            </li>
            <li class="footer-column-menu-item" role="menuitem">
              <a href="#" class="footer-column-menu-item-link">Portfolio</a>
            </li>
            <li class="footer-column-menu-item" role="menuitem">
              <a href="#" class="footer-column-menu-item-link">News</a>
            </li> -->
                </ul>
            </div>
            <!-- <div class="footer-columns">
        <h1>Resources</h1>
        <ul class="footer-column-menu" role="menu">
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">FAQ</a>
          </li>
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">Media</a>
          </li>
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">Guides</a>
          </li>
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">Free Resources</a>
          </li>
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">Testimonials</a>
          </li>
        </ul>
      </div> -->
            <!-- <div class="footer-columns">
        <h1>Information</h1>
        <ul class="footer-column-menu" role="menu">
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">About Us</a>
          </li>
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">Terms of Use</a>
          </li>
          <li class="footer-column-menu-item">
            <a href="#" class="footer-column-menu-item-link" role="menuitem">Legal Information</a>
          </li>
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">Message Us</a>
          </li>
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">Leave a Feedback</a>
          </li>
        </ul>
      </div> -->
        </section>

        <section class="horizontal-footer-section" id="footer-bottom-section">
            <div id="footer-copyright-info">
                &copy; Nutrition Bee. 2022. All rights reserved.
            </div>
            <div id="footer-social-buttons">
                <a target="_blank" href="https://www.facebook.com/nutritionbee"><img
                        src="https://img.icons8.com/ios-filled/25/999999/facebook--v1.png" /></a>
                <!-- <img src="https://img.icons8.com/ios-filled/25/999999/telegram-app.png" />
        <img src="https://img.icons8.com/ios-filled/25/999999/pinterest--v1.png" /> -->
                <a target="_blank"
                    href="https://www.instagram.com/nutritionbee00/?igshid=YmMyMTA2M2Y=&fbclid=IwAR3qfcUD9xFgCQ5oBdZJA-dp6H02_--nVXE2Ph4NDxFD6IA8xdDdws8LM9A"><img
                        src="https://img.icons8.com/ios-filled/25/999999/instagram--v1.png" /></a>
            </div>
        </section>

    </footer>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .c {
            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .list {
            position: relative;
            width: 100%;
            min-height: 500px;
            padding: 50px;
            background: #2f363e;
            box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
                10px 10px 70px rgba(0, 0, 0, 0.25),
                inset 5px 5px 10px rgba(0, 0, 0, 0.5),
                inset 5px 5px 20px rgba(255, 255, 255, 0.2),
                inset -5px -5px 15px rgba(0, 0, 0, 0.75);
            border-radius: 30px;
        }

        .list h3 {
            color: #fff;
            font-size: 1.2rem;
            font-weight: 700;
        }

        .list-item {
            position: relative;
            display: flex;
            align-items: center;
            margin: 20px 0;
            cursor: pointer;
        }

        .list-item::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 45px;
            height: 45px;
            background: #1f83f2;
            border-radius: 22.5px;
            box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.5),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
            transition: 0.5s;
        }

        .list-item:hover::before {
            width: 100%;
        }

        .list-item .rank {
            position: relative;
            min-width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-right: 10px;
        }

        .list-item .rank::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            background: #2f363e;
            border-radius: 30px;
            transform: scale(0);
            transition: 0.5s;
        }

        .list-item:hover .rank::before {
            transform: scale(1);
        }

        .list-item .rank span {
            position: relative;
            font-size: 1rem;
            font-weight: 600;
            color: #fff;
            transition: 0.5s;
        }

        .list-item .name {
            position: relative;
            line-height: 1.15rem;
        }

        .list-item .name h4 {
            font-weight: 600;

            transition: 0.5s;
        }

        .list-item .name h4 a {
            text-decoration: none;
            color: #bcbcc0;
        }

        .list-item .name p {
            font-size: 0.8rem;
            font-weight: 400;
            color: #95999d;
            transition: 0.5s;
        }

        .list-item:hover .name h4,
        .list-item:hover .name p {
            color: #fff;
        }

        .a {
            height: 98%;
            width: 98%;
            border-radius: 50%;
            border: 2px solid rgb(245, 245, 242);
        }

        .bttn {
            background-color: #8e44ad;
            color: #fff;
            border: none;
            display: block;
            width: 80%;
            cursor: pointer;
            font-size: 1.1rem;
            font-family: inherit;
            padding: 1.3rem;
            margin: 15px;
            border-radius: 7px;
        }

        button:hover {
            background-color: #732d91;
        }

        button:focus {
            outline: none;
            background-color: #5e3370;
        }

        .a {
            padding: 12 !important;
        }

        .bttn {
            padding: 14px;
            background-color: #732d91;

        }

        .nava {
            width: 100%;
            background: #1e3138 !important;
            position: relative;
        }

        .nava>.nava-header {
            display: inline;
        }

        .nava>.nava-header>.nava-title {
            display: inline-block;
            font-size: 22px;
            color: #fff;
            padding: 10px 10px 10px 10px;
        }

        .nava>.nava-btn {
            display: none;
        }

        .nava>.nava-links {
            margin-left: 70%;
            display: inline;
            float: right;
            font-size: 18px;
        }

        .nava>.nava-links>a {
            display: inline-block;
            padding: 13px 10px 13px 10px;
            text-decoration: none;
            color: #efefef;
        }

        .nava>.nava-links>a:hover {
            background-color: grey;
        }

        .nava>#nava-check {
            display: none;
        }

        @media (max-width:800px) {
            .nava>.nava-links {
                margin-left: 40%;
                display: inline;
                float: right;
                font-size: 18px;
            }

            .nava>.nava-links>a {
                display: inline-block;
                padding: 13px 10px 13px 10px;
                text-decoration: none;
                color: #efefef;
            }

            /* .nav>.nav-btn {
              display: inline-block;
              position: absolute;
              right: 0px;
              top: 0px;
          }
  
          .nav>.nav-btn>label {
              display: inline-block;
              width: 50px;
              height: 50px;
              padding: 13px;
          }
  
          .nav>.nav-btn>label:hover,
          .nav #nav-check:checked~.nav-btn>label {
              background-color: grey;
          }
  
          .nav>.nav-btn>label>span {
              display: block;
              width: 25px;
              height: 10px;
              border-top: 2px solid #eee;
              z-index: 10000;
          }
  
          .nav>.nav-links {
              position: absolute;
              display: block;
              float: right;
              width: 100%;
              background-color: #151414;
              height: 0px;
              transition: all 0.3s ease-in;
              overflow-y: hidden;
              top: 50px;
              left: 0px;
              z-index: 10000;
  
          }
  
          .nav>.nav-links>a {
              display: block;
              width: 100%;
              z-index: 10000;
  
          }
  
          .nav>#nav-check:not(:checked)~.nav-links {
              height: 0px;
          }
  
          .nav>#nav-check:checked~.nav-links {
              height: calc(100vh - 50px);
              overflow-y: auto;
          } */
        }



        /* Footer  */


        footer#site-footer {
            margin: 0 auto;
            width: 100%;
            background: #1e3138;
            padding: 1rem;
            color: #a8a8a8;
        }

        footer#site-footer a {
            color: #a8a8a8;
        }

        footer#site-footer a:hover {
            color: #00c3ce;
        }

        footer#site-footer h1 {
            color: #cecece;
        }

        footer#site-footer section.horizontal-footer-section {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            padding: 2.38rem 2rem;
        }

        footer#site-footer section.horizontal-footer-section#footer-top-section {
            justify-content: center;
        }

        footer#site-footer #footer-logo {
            margin-right: auto;
            flex-shrink: 0;
        }

        footer#site-footer #footer-logo img {
            height: 2.28rem;
        }

        footer#site-footer ul#footer-top-menu {
            padding: 0;
            margin: 0;
        }

        footer#site-footer ul#footer-top-menu li {
            display: inline;
            list-style-type: none;
            margin-right: 1.32rem;
            font-weight: bold;
        }

        footer#site-footer ul#footer-top-menu li a {
            text-decoration: none;
        }

        footer#site-footer .footer-top-menu-item-active {
            position: relative;
        }

        footer#site-footer .footer-top-menu-item-active a {
            color: #007ba6;
        }

        footer#site-footer .footer-top-menu-item-active a:hover {
            color: #00c3ce;
        }

        footer#site-footer .footer-top-menu-item-active::before {
            content: "";
            background: #007ba6;
            padding: 0.15rem 0;
            width: 100%;
            position: absolute;
            top: 1.68em;
        }

        footer#site-footer .footer-top-menu-item-active:hover::before {
            background: #00c3ce;
            transition-duration: 0.6s;
        }

        footer#site-footer #footer-buttons-container {
            margin-left: auto;
            flex-shrink: 0;
        }

        footer#site-footer a.footer-button {
            background: transparent;
            border: 0.15rem solid #a8a8a8;
            border-radius: 1.38rem;
            padding: 0.5rem 1rem;
            font-weight: bold;
            text-decoration: none;
            display: inline-block;
        }

        footer#site-footer a.footer-button:hover {
            border-color: #00c3ce;
        }

        footer#site-footer section.horizontal-footer-section#footer-middle-section {
            align-items: flex-start;
        }

        footer#site-footer .footer-columns {
            flex-basis: 18%;
            padding-right: 1rem;
        }

        footer#site-footer .footer-columns-large {
            flex-basis: 46%;
            padding-right: 2rem;
        }

        footer#site-footer .footer-columns h1 {
            font-size: 1rem;
            margin-top: 0;
            margin-bottom: 1rem;
            font-weight: 800;
        }

        footer#site-footer .footer-columns.footer-columns-large h1 {
            font-size: 1.28rem;
            margin-top: 3rem;
            margin-bottom: 1.32rem;
        }

        footer#site-footer .footer-columns.footer-columns-large h1:first-child {
            margin-top: 0;
        }

        footer#site-footer ul.footer-column-menu {
            margin: 0;
            padding: 0;
        }

        footer#site-footer ul.footer-column-menu li {
            list-style-type: none;
            margin-bottom: 0.68rem;
            font-size: 0.88rem;
        }

        footer#site-footer #footer-about address {
            font-style: normal;
            font-weight: bold;
        }

        footer#site-footer #footer-about address p img {
            margin-right: 0.68rem;
        }

        footer#site-footer #footer-about a.footer-button {
            margin-top: 0.32rem;
        }

        footer#site-footer section.horizontal-footer-section#footer-bottom-section {
            padding: 1.32rem 0;
            margin: 2rem 2rem 1.32rem 2rem;
            border-top: 0.05rem solid #666666;
        }

        footer#site-footer #footer-social-buttons {
            justify-self: flex-end;
            margin-left: auto;
        }

        footer#site-footer #footer-social-buttons img {
            margin-left: 0.68rem;
        }

        footer#site-footer #footer-social-buttons img:hover {
            cursor: pointer;
        }






        @media screen and (max-width: 959px) {

            footer#site-footer {
                width: 100%;
            }

            footer#site-footer section.horizontal-footer-section {
                flex-direction: column;
                flex-wrap: wrap;
            }

            footer#site-footer section.horizontal-footer-section div {
                flex-basis: 100%;
                width: 100%;
            }

            footer#site-footer ul li {
                display: block !important;
                padding: 1em !important;
                border-top: 1px solid #555555;
                border-bottom: none;
                border-left: none;
                border-right: none;
                font-size: 1.15rem !important;
            }

            footer#site-footer ul li:first-child {
                border-top: none;
            }

            footer#site-footer a.footer-button {
                display: block;
                text-align: center;
                max-width: 350px;
                margin: 0.32rem auto;
            }

            footer#site-footer section.horizontal-footer-section#footer-top-section div {
                margin-top: 0;
                margin-bottom: 1.68rem;
            }

            footer#site-footer #footer-logo {
                margin-right: 0;
            }

            footer#site-footer #footer-buttons-container {
                margin-left: 0;
            }

            footer#site-footer ul#footer-top-menu {
                width: 100%;
                margin: 2rem 0 0 0;
            }

            footer#site-footer .footer-top-menu-item-active::before {
                display: none;
            }

            footer#site-footer #footer-about {
                margin-bottom: 3rem;
            }

            footer#site-footer .footer-columns-large,
            footer#site-footer .footer-columns {
                padding-right: 0;
            }

            footer#site-footer .footer-columns {
                margin-top: 0;
                margin-bottom: 4rem;
            }

            footer#site-footer .footer-columns:last-child {
                margin-bottom: 0;
            }

            footer#site-footer .footer-columns h1 {
                text-align: center;
                font-size: 1.3rem;
                text-transform: uppercase;
                letter-spacing: 0.15rem;
            }

            footer#site-footer ul.footer-column-menu li {
                margin-bottom: 0;
                display: block;
                text-align: center;
            }

            footer#site-footer section#footer-bottom-section div {
                text-align: center;
            }

            footer#site-footer section.horizontal-footer-section#footer-bottom-section {
                margin: 1.32rem 0;
                padding: 0;
                border-top: 0;
            }

            footer#site-footer section#footer-bottom-section #footer-social-buttons {
                margin-top: 1.32rem;
            }
        }

        .btnLogin {
            padding: 0;
            border: none;
            background: none;
            padding: 10px;
            border-radius: 10px;
            background-color: rgb(238, 155, 0);
            /* color: white; */
        }

        .formContainer {
            display: flex;
            margin-top: 100px;
            margin-bottom: 100px;
        }

        /* input form  */
        div.input-block {
            position: relative;
        }

        div.input-block input {
            font-weight: 500;
            font-size: 1rem;
            color: #495055;
            width: 300px;
            padding: 15px 15px;
            border-radius: 1rem;
            border: 2px solid #D9D9D9;
            outline: none;
        }

        div.input-block span.placeholder {
            position: absolute;
            margin: 17px 0;
            padding: 0 4px;
            font-family: Roboto, sans-serif;

            color: #6c757d;

            display: flex;
            align-items: center;

            font-size: 1rem;

            top: 0;
            left: 17px;

            transition: all 0.2s;
            transform-origin: 0% 0%;
            background: none;
            pointer-events: none;
        }

        div.input-block input:valid+span.placeholder,
        div.input-block input:focus+span.placeholder {
            transform: scale(0.8) translateY(-30px);
            background: #fff;
        }

        .placeFixed {
            transform: scale(0.8) translateY(-30px);
            background: #fff;
        }

        div.input-block input:focus {
            color: #284B63;
            border-color: #284B63;
        }

        div.input-block input:focus+span.placeholder {
            color: #284B63;
        }

        .nav {
            height: 8%;
            width: 100%;
            background-color: #131313 !important;
            position: relative;
        }

        .nav>.nav-header {
            display: inline;
        }

        .nav>.nav-header>.nav-title {
            display: inline-block;
            font-size: 22px;
            color: #fff;
            /* padding: 10px 10px 10px 10px; */
        }

        .nav>.nav-btn {
            display: none;
        }

        .nav>.nav-links {
            margin-left: 50%;
            display: inline;
            float: right;
            font-size: 18px;
        }

        .nav>.nav-links>a {
            display: inline-block;
            padding: 13px 10px 13px 10px;
            text-decoration: none;
            color: #efefef;
        }

        .nav>.nav-links>a:hover {
            background-color: grey;
        }

        .nav>#nav-check {
            display: none;
        }

        @media (max-width:800px) {
            .nav>.nav-btn {
                display: inline-block;
                position: absolute;
                right: 0px;
                top: 0px;
            }

            .nav>.nav-btn>label {
                display: inline-block;
                width: 50px;
                height: 50px;
                padding: 13px;
            }

            .nav>.nav-btn>label:hover,
            .nav #nav-check:checked~.nav-btn>label {
                background-color: grey;
            }

            .nav>.nav-btn>label>span {
                display: block;
                width: 25px;
                height: 10px;
                border-top: 2px solid #eee;
                z-index: 10000;
            }

            .nav>.nav-links {
                position: absolute;
                display: block;
                float: right;
                width: 100%;
                background-color: #151414;
                height: 0px;
                transition: all 0.3s ease-in;
                overflow-y: hidden;
                top: 50px;
                left: 0px;
                z-index: 10000;

            }

            .nav>.nav-links>a {
                display: block;
                width: 100%;
                z-index: 10000;

            }

            .nav>#nav-check:not(:checked)~.nav-links {
                height: 0px;
            }

            .nav>#nav-check:checked~.nav-links {
                height: calc(100vh - 50px);
                overflow-y: auto;
            }
        }
    </style>